<script id="cart_payment_failure-template" type="text/x-handlebars-template">
<div class="modal fade" id="cart-payment-failure-placeholder" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
			</div>

			<div class="modal-body" style="height:500px;">
				<h1><span><i class="fa fa-times-circle"></i></span>Payment Declined!</h1>
				<p class="alert alert-error hide">{{message}}</p>

				<p class="first">
					Don&lsquo;t worry. It happens. You can <a href="#" onclick="payment_failure_message(); return false;">view the message</a> that<br>
					was returned from our payment gateway
					{{#unless has_paypal }}
						or<br> you can 							
						<a href="#" data-cart-screen="payment">try again</a>
					{{/unless}}
				</p>

				<p class="last">
					{{#unless has_paypal }}
						<a href="#" class="btn" data-cart-screen="payment">Try again</a>
					{{/unless}}
					<a href="#" class="btn" onclick="payment_failure_message(); return false;">View message</a>
				</p>

			</div>
			<div class="modal-footer">
				<div>
					<a href="#" class="btn" data-dismiss="modal">Close</a>
				</div>
			</div>
		</div>
	</div>
</div>
</script>