<script id="cart_payment_success-template" type="text/x-handlebars-template">
	<div class="modal fade" id="cart-payment-success-placeholder" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">&times;</a>
				</div>
				<div class="modal-body" style="height:500px;">
					<h1><span><i class="fa fa-check-circle"></i></span>Payment Success!</h1>

					<p>
						We just sent you an email with the details of your order.
					</p>

					<p>Your order reference number is <strong>{{reference}}</strong></p>

				</div>
				<div class="modal-footer">
					<div class="social pull-left">
						<a class="facebook" href="https://www.facebook.com/pages/Diaries-Direct/624374957602899"><i class="fa fa-facebook"></i></a>
						<a class="twitter" href="https://twitter.com/DiariesDirect"><i class="fa fa-twitter"></i></a>
						<a class="google-plus" href="https://plus.google.com/u/0/b/118219955978978027619/118219955978978027619/posts"><i class="fa fa-google-plus"></i></a>
						<a class="linkedin" href="http://www.linkedin.com/company/3306500"><i class="fa fa-linkedin"></i></a>
					</div>
					<div class="pull-right">
						<a href="#" class="btn" data-dismiss="modal">Close</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>