<script id="cart_components-template" type="text/x-handlebars-template">
	<div id="shopping-cart" class="cbp-spmenu-right">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-6"><a href="#" class="show-hide-cart" data-cart-function="toggle"><i class="fa fa-bars"></i> Shopping Cart</a></div>
					<div class="col-md-6"><i class="fa fa-lock"></i> Secure Online Shopping <a data-cart-function="empty" href="#"><i title="empty cart" rel="tooltip" class="fa fa-trash-o"></i></a></div>
				</div><!--/row-->
			</div><!--/container-->
		</header>
	
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img alt="" class="" src="http://cdn1.launchly.net/asset/file/5212011557817e9868000015/cards.png" />
				</div>
			</div>
		</div>
	
		<div id="cart-container"></div>
		<div id="store-side"></div>
	
	</div>

	<div id="cart-contact-details-container"></div>
	<div id="cart-payment-container"></div>
	<div id="cart-payment-success-container"></div>
	<div id="cart-payment-failure-container"></div>

	<div class="modal fade" id="cart-payment-processing-placeholder" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-content">
					<div class="modal-body" style="height:500px;">
						<h1><span><i class="fa fa-cog fa-spin"></i></span>Processing ....</h1>
						<p>Please wait while we prepare your order.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>