<script id="shopping_cart-template" type="text/x-handlebars-template">

<input type="hidden" id="cart_reference" name="cart_reference" value="{{reference}}">
<input type="hidden" id="session_id" name="session_id" value="{{session_id}}">

<header>
	<div class="clearfix" class="show-hide-cart" data-cart-function="toggle">

		<div class="hidden-xs">
			<div class="pull-left">
				<a href="#" class="show-hide-cart" data-cart-function="toggle">
					<i class="fa fa-bars mrm"></i>
					Shopping Cart
				</a>
			</div>
			<div class="pull-right">
				<i class="fa fa-lock mrs"></i>
				256bit Secure SSL
				<a data-cart-function="empty" href="#" class="mll"><i title="empty cart" rel="tooltip" class="fa fa-trash-o"></i></a>
			</div>
		</div>

		<div class="visible-xs">	
			<div class="pull-left">
				<a href="#" class="show-hide-cart" data-cart-function="toggle">
					<i class="fa fa-bars mrm"></i>
					Your Cart
				</a>
			</div>
			<div class="pull-right">
				<i class="fa fa-lock mrs"></i>
				256bit SSL
				<a data-cart-function="empty" href="#" class="mlm"><i title="empty cart" rel="tooltip" class="fa fa-trash-o"></i></a>
			</div>
		</div>

	</div>
</header>

<div class="container">
	<div class="row">
		<div class="col-md-12">

			{{#if accept_mastercard }}
				<img alt="MasterCard" title="We accept MasterCard" rel="tooltip" class="pull-left mrs" src="<%= pkg.cdn %>/images/mastercard.png">
			{{/if}}

			{{#if accept_visa }}
				<img alt="Visa" title="We accept Visa" rel="tooltip" class="pull-left mrs" src="<%= pkg.cdn %>/images/visa.png">
			{{/if}}

			{{#if accept_american_express }}
				<img alt="American Express" title="We accept American Express" rel="tooltip" class="pull-left mrs" src="<%= pkg.cdn %>/images/american_express.png">
			{{/if}}

			{{#if accept_paypal }}
				<img alt="PayPal" title="We accept PayPal" rel="tooltip" class="pull-left mrs" src="<%= pkg.cdn %>/images/paypal.png">
			{{/if}}

		</div>
	</div>
</div>

<div id="store-items">

	<div id="store-inner">

		{{#if empty}}
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="empty">
							<p><i class="fa fa-shopping-cart"></i></p>
							<p>There are no items in your cart.</p>
						</div>
					</div>
				</div>
			</div>
		{{else}}

			<div class="container">

				{{#items}}
				
					<div class="row">
						
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
							<a href="{{url}}"><img src="{{column_2}}" class="img-responsive"></a>
						</div>
						
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">

							{{#if sold_out}}
								<a href="{{url}}"><del>{{title}}</del></a>
								<p style="margin:0;">
									<del>
										{{name_a}}: {{name_b}}
										{{#if sku}} ({{sku}}) {{/if}}
									</del>
								</p>
							{{else}}
								<a href="{{url}}">{{title}}</a>
								<p style="margin:0;">
									{{name_a}}: {{name_b}}
									{{#if sku}} ({{sku}}) {{/if}}
								</p>
							{{/if}}

							{{#if notes}}
								<p>Notes: {{notes}}</p>
							{{/if}}

						</div>
						
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">

							<div class="text-right">
								{{formatted_price}}<br>
								<span>
								<a href="#" data-cart-function="remove" data-variant="{{variant_id}}"><i class="fa fa-times-circle"></i></a>
								Qty: {{quantity}}
								</span>
							</div>

							{{#if sold_out}}
								<div class="text-right">
									<span class="label label-danger" style="font-size:8pt;">SOLD OUT</span>
								</div>
							{{/if}}

						</div>
						
						<div class="qty col-lg-2 col-md-2 col-sm-2 col-xs-3">
							<input class="form-control" data-cart="qty" data-item="{{variant_id}}" placeholder="0" size="20" type="text" value="{{quantity}}">
						</div>
						
					</div>

				{{/items}}

				<div class="row">
					<div class="col-md-6">
						{{#if discounts_available }}
						<div class="row">
							<div class="col-md-12">
								<input id="coupon_code" name="coupon_code" placeholder="Coupon code" size="20" type="text" value="{{coupon_code}}" class="pull-right">
							</div>
						</div>
						{{/if}}
						{{#if enable_instructions_to_seller }}
						<div class="row">
							<div class="col-md-12" style="margin-bottom:20px;">
								<a href="#" id="instructions-to-seller" class="hidden"><i class="fa fa-comment-o"></i> Leave a note for seller</a>
								<textarea id="instructions_to_seller" name="instructions_to_seller" placeholder="Instructions to seller" rows="2" class="hidden">{{instructions_to_seller}}</textarea>
							</div>
						</div>
						{{/if}}
					</div>
					<div class="col-md-6">
						<a href="#" class="btn update pull-right" data-cart-function="update">Update</a>
						<div class="pull-right sub-total">
							<div class="intro">Sub-total</div>
							<div class="price">{{formatted_total}}</div>
						</div>
					</div>
				</div>

			</div>

			<div id="contact-prices">

				<div class="container">

					<div class="row">

						<div class="col-md-6">

							{{#if has_name_and_address}}
								<p>
									<strong>ATT: {{first_name}} {{last_name}}</strong><br>
									{{telephone_number}}
								</p>
								<p>
									{{#if shipping_same_as_billing}}
										{{billing_line1}}{{#if billing_line2}}, {{billing_line2}}{{/if}}<br>
										{{billing_suburb}} {{billing_state_name}}<br>
										{{billing_country_name}} {{billing_post_code}}
									{{else}}
										{{shipping_line1}}{{#if shipping_line2}}, {{shipping_line2}}{{/if}}<br>
										{{shipping_suburb}} {{shipping_state_name}}<br>
										{{shipping_country_name}} {{shipping_post_code}}
									{{/if}}
								</p>
							{{else}}
								{{#if signed_in}}
									<p>Where shall we send your order?</p>
								{{/if}}
							{{/if}}

						</div>

						<div class="col-md-6">
							<table>
								<tr>
									<td>Sub-total:</td>
									<td>{{#if has_active_variants}}{{formatted_total}}{{else}}No active items!{{/if}}</td>
								</tr>
								<tr>
									<td>Freight:</td>
									<td>{{#if has_addresses}}{{formatted_shipping_and_handling}}{{else}}No delivery address!{{/if}}</td>
								</tr>
								{{#if has_discount}}
									<tr>
										<td>Discount:</td>
										<td>{{formatted_discount}}</td>
									</tr>
								{{/if}}
								<tr>
									<td>Total:</td>
									<td>{{formatted_grand_total}}</td>
								</tr>
							</table>
						</div>

					</div>

				</div>

			</div>

			<div class="container" id="cart-actions">

				{{#if signed_in}}

					<div class="row">

						<div class="col-md-6">
							<a href="#" class="btn show-detail-link" data-cart-screen="contact-details">{{#if has_addresses}}<i class="fa fa-pencil"></i> Change Details{{else}}Set Contact Details{{/if}}</a>
							{{#if can_pay_later }}
								<a href="#" class="btn mtl" data-cart-function="on_account">Pay later</a>
							{{/if}}
						</div>

						<div class="col-md-6 text-center">
							{{#if can_pay}}

								{{#if stripe_key }}
									<button style="width:100%;" class="btn" id="pay-by-stripe" 
										data-name="{{ organisation_name }}"
										data-description="Order #{{ reference }} ({{ formatted_grand_total }})"
										data-amount="{{ grand_total_in_cents }}"
										data-key="{{ stripe_key }}"
										data-image="{{ stripe_icon }}"
										data-email="{{ user_email }}"
										data-currency="{{ currency }}">
										<i class="fa fa-credit-card"></i> Pay with Credit Card
									</button>
								{{else}}
									{{#if accept_payment_card }}
										<a href="#" class="btn checkout" data-cart-screen="payment"><i class="fa fa-credit-card"></i> Pay Now</a>
									{{/if}}
								{{/if}}

								{{#if accept_paypal}}
									<img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" data-cart-function="paypal" class="mtl" style="cursor:pointer;">
								{{/if}}

							{{/if}}
						</div>

					</div>

				{{else}}

					<div class="col-md-12 sign_in_register">
						<a href="{{sign_in_link}}" class="btn btn-warning" data-link="{{sign_in_link}}">
							Sign in or Register to continue
						</a>
					</div>

				{{/if}}

			</div>

		{{/if}}

	</div>
</div>
</script>