<a class="clearfix show-hide-cart" href="#">
	<div class="pull-left">
		<i class="fa fa-shopping-cart"></i>
	</div>
	<div class="pull-left">
		<div class="price mls mrm">{{formatted_grand_total}}</div>
		<div class="item hide">{{items_count}} items in cart</div>
	</div>
	<div class="pull-left" style="text-transform:uppercase;">
		&middot; View Cart
	</div>
</a>